<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    <title>商城首页</title>
</head>
<body>
    <div class="top">
        <div class="wrapper">
            <div class="fl">
               您好，<span id="loginUser"></span>欢迎来到动脑学院！<span id="notLogin"><a href="登录.html" class="ml10">[登录]</a><a href="注册.html" class="ml10">[注册]</a></span><a href="javascript:void(0);" id="loyout" class="hide">[退出]</a>
            </div>
            <ul class="fr topLinks">
                <li class="selected">
                    <a href="#">我的商城<i class="icons arrowsIcons"></i></a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
                <li class="selected">
                    <a href="#">客户服务</a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
                <li class="selected">
                    <a href="#">网站导航</a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
                <li class="selected">
                    <a href="#">手机商城</a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="top-wrap">
        <div class="wrapper rel">
            <a href="index2.html" class="logo">
                <img src="../images/logo.png">
            </a>
            <div class="searchForm">
                <form>
                    <input type="text" class="fl txt" placeholder="请输入搜索产品名.....">
                    <input type="submit" value="搜索" class="fr submitBtn">
                </form>
                <p class="hotSearch">
                    <a href="#">小米5</a>
                    <a href="#">IPhone 6s</a>
                    <a href="#">OPPO R9</a>
                    <a href="#">VIVO X6</a>
                    <a href="#">三星 s6</a>
                    <a href="#">三星 s6</a>
                    <a href="#">三星 s6</a>
                </p>
            </div>
        </div>
        <div class="nav">
            <div class="wrapper rel">
                <!--下拉菜单 start-->
                <div class="navType tc">
                    <i class="iconfont">&#xe62c;</i>
                    商品服务分类
                    <div class="navTab">
                        <ul>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>服饰箱包<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>Iphone</dt>
                                        <dd>
                                            <span><a href="list.html">IPhone 6s</a></span><span>|&ensp;<a href="list.html">IPhone 6</a></span><span>|&ensp;<a href="list.html">IPhone 5s</a></span><span>|&ensp;<a href="list.html">IPhone 5</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>Ipad</dt>
                                        <dd>
                                            <span><a href="list.html">Ipad6</a></span><span>|&ensp;<a href="list.html">Ipad5</a></span><span>|&ensp;<a href="list.html">Ipad mini4</a></span><span>|&ensp;<a href="list.html">Ipad mini3</a></span><span>|&ensp;<a href="list.html">Ipad mini2</a></span><span>|&ensp;<a href="list.html">Ipad pro</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>母婴玩具<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>小米</dt>
                                        <dd>
                                            <span><a href="list.html">小米5</a></span><span>|&ensp;<a href="list.html">小米4s</a></span><span>|&ensp;<a href="list.html">小米4c</a></span><span>|&ensp;<a href="list.html">小米4</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>红米</dt>
                                        <dd>
                                            <span><a href="list.html">红米Note3</a></span><span>|&ensp;<a href="list.html">红米Note</a></span><span>|&ensp;<a href="list.html">红米3</a></span><span>|&ensp;<a href="list.html">红米2</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>生鲜水果<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <div><dl>
                                        <dt>荣耀</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">荣耀7</a></span><span>|&ensp;<a href="list.html">荣耀7i</a></span><span>|&ensp;<a href="list.html">荣耀6</a></span><span>|&ensp;<a href="list.html">荣耀6 plus</a></span><span>|&ensp;<a href="list.html">荣耀X2</a></span>
                                        </dd>
                                    </dl>
                                        <dl>
                                            <dt>畅玩</dt>
                                            <dd>
                                                <span>|&ensp;<a href="list.html">畅玩5X</a></span><span>|&ensp;<a href="list.html">畅玩4C</a></span><span>|&ensp;<a href="list.html">畅玩4A</a></span><span>|&ensp;<a href="list.html">畅玩4X</a></span>
                                            </dd>
                                        </dl><div class="clear"></div>
                                    </div>
                                    <div>
                                        <dl>
                                            <dt>Mate/P8</dt>
                                            <dd>
                                                <span>|&ensp;<a href="list.html">Mate8</a></span><span>|&ensp;<a href="list.html">Mate S</a></span><span>|&ensp;<a href="list.html">P8</a></span><span>|&ensp;<a href="list.html">P8 Max</a></span>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>G/Y系列</dt>
                                            <dd>
                                                <span>|&ensp;<a href="list.html">G7 plus</a></span><span>|&ensp;<a href="list.html">麦芒4</a></span><span>|&ensp;<a href="list.html">畅想5s</a></span><span>|&ensp;<a href="list.html">畅想5</a></span>
                                            </dd>
                                        </dl><div class="clear"></div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>家具建材<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>魅族</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">魅族 Pro5</a></span><span>|&ensp;<a href="list.html">魅族</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>魅蓝</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">魅蓝 metal</a></span><span>|&ensp;<a href="list.html">魅蓝 note2</a></span><span>|&ensp;<a href="list.html">魅蓝2</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>医药保健<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>A系列</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">OPPO A33</a></span><span>|&ensp;<a href="list.html">OPPO A53</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>R系列</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">OPPO R7s</a></span><span>|&ensp;<a href="list.html">OPPO R7 plus</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>珠宝饰品<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>X系列</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">VIVO X5 Max</a></span><span>|&ensp;<a href="list.html">VIVO X6</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>Y系列</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">VIVO Y33</a></span><span>|&ensp;<a href="list.html">VIVO Y35</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>户外运动<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>S系列</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">三星S5</a></span><span>|&ensp;<a href="list.html">三星 S6</a></span><span>|&ensp;<a href="list.html">三星 S6 edge</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>A系列</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">三星 A3</a></span><span>|&ensp;<a href="list.html">三星 A5</a></span><span>|&ensp;<a href="list.html">三星 A7</a></span><span>|&ensp;<a href="list.html">三星 A8</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>J系列</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">三星 J7</a></span><span>|&ensp;<a href="list.html">三星 J5</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>生活电器<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>靓号</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">个性推荐</a></span><span>|&ensp;<a href="list.html">推荐靓号</a></span><span>|&ensp;<a href="list.html">AAAB区</a></span><span>|&ensp;<a href="list.html">AAAAB区</a></span><span>|&ensp;<a href="list.html">AABB区</a></span><span>|&ensp;<a href="list.html">AAA区</a></span><span>|&ensp;<a href="list.html">0731区</a></span><span>|&ensp;<a href="list.html">AAAAAAB区</a></span><span>|&ensp;<a href="list.html">AABB/ABAB/尾88区</a></span><span>|&ensp;<a href="list.html">AAAA区</a></span><span>|&ensp;<a href="list.html">AAAAA区</a></span><span>|&ensp;<a href="list.html">688情侣区</a></span><span>|&ensp;<a href="list.html">388特价区</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>进口食品<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>靓号</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">个性推荐</a></span><span>|&ensp;<a href="list.html">推荐靓号</a></span><span>|&ensp;<a href="list.html">AAAB区</a></span><span>|&ensp;<a href="list.html">AAAAB区</a></span><span>|&ensp;<a href="list.html">AABB区</a></span><span>|&ensp;<a href="list.html">AAA区</a></span><span>|&ensp;<a href="list.html">0731区</a></span><span>|&ensp;<a href="list.html">AAAAAAB区</a></span><span>|&ensp;<a href="list.html">AABB/ABAB/尾88区</a></span><span>|&ensp;<a href="list.html">AAAA区</a></span><span>|&ensp;<a href="list.html">AAAAA区</a></span><span>|&ensp;<a href="list.html">688情侣区</a></span><span>|&ensp;<a href="list.html">388特价区</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li><a href="list.html" class="typeName"><i class="iconfont mr10"></i>个人护理<em class="right-arrow">&gt;</em></a>
                                <div class="subNavList">
                                    <dl>
                                        <dt>靓号</dt>
                                        <dd>
                                            <span>|&ensp;<a href="list.html">个性推荐</a></span><span>|&ensp;<a href="list.html">推荐靓号</a></span><span>|&ensp;<a href="list.html">AAAB区</a></span><span>|&ensp;<a href="list.html">AAAAB区</a></span><span>|&ensp;<a href="list.html">AABB区</a></span><span>|&ensp;<a href="list.html">AAA区</a></span><span>|&ensp;<a href="list.html">0731区</a></span><span>|&ensp;<a href="list.html">AAAAAAB区</a></span><span>|&ensp;<a href="list.html">AABB/ABAB/尾88区</a></span><span>|&ensp;<a href="list.html">AAAA区</a></span><span>|&ensp;<a href="list.html">AAAAA区</a></span><span>|&ensp;<a href="list.html">688情侣区</a></span><span>|&ensp;<a href="list.html">388特价区</a></span>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--下拉菜单 end&#45;&#45;-->

                <!--菜单主题 start -->
                <div class="navList">
                    <a href="index.html">首页</a>
                    <a href="list.html">品牌厂商</a>
                    <a href="list.html">新品上市</a>
                    <a href="list.html">配件专区</a>
                    <a href="list.html">品牌入驻</a>
                    <a href="list.html">加盟供销</a>
                </div>
                <!--菜单主题 End -->
            </div>
        </div>
    </div>
    <!--轮播图 start-->
    <div class="focus" id="focus">
        <ul class="focuspic" id="slidePic">
            <li><a href="#" target="_blank"><img src="../images/banner1.png"/></a></li>
            <li><a href="#" target="_blank"><img src="../images/banner2.png" /></a></li>
            <li><a href="#" target="_blank"><img src="../images/banner3.png" /></a></li>
        </ul>
    </div>
    <!--轮播图 end-->

    <div class="wrapper">
        <!-- 专题列表 start -->
        <div class="topic-list mt20">
            <ul>
                <li><a href=""><img src="../images/q1.png" width="100%"></a></li>
                <li><a href=""><img src="../images/q2.png" width="100%"></a></li>
                <li><a href=""><img src="../images/q3.png" width="100%"></a></li>
                <li><a href=""><img src="../images/q4.png" width="100%"></a></li>
            </ul>
        </div>
        <!-- 专题列表 end -->

        <div class="cl"></div>
        <div class="home-title mt30 rel">
            <a href="#" class="ht-name">热销推荐</a>
            <a href="#" class="ht-more">More+</a>
        </div>
        <div class="recommend-list mt10">
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cl"></div>
        <div class="poster mt30">
            <a href="#"><img src="../images/p1.png" width="100%"></a>
        </div>
    </div>
    <div class="bg-gray mt30 pt30 pb30">
      <div class="wrapper">
        <div class="home-title mt30 rel">
            <a href="#" class="ht-name">母婴玩具</a>
            <span class="ht-tag">
                <a href="#">女装</a>
                <a href="#">男装</a>
                <a href="#">女鞋</a>
                <a href="#">男鞋</a>
                <a href="#">钱包</a>
            </span>
            <a href="#" class="ht-more">更多+</a>
        </div>
        <div class="recommend-list mt5 product-list">
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8测试测试</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="home-title mt30 rel">
            <a href="#" class="ht-name">生鲜水果</a>
            <span class="ht-tag">
                <a href="#">女装</a>
                <a href="#">男装</a>
                <a href="#">女鞋</a>
                <a href="#">男鞋</a>
                <a href="#">钱包</a>
            </span>
            <a href="#" class="ht-more">更多+</a>
        </div>
        <div class="recommend-list mt5 product-list">
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="home-title mt30 rel">
            <a href="#" class="ht-name">家具建材</a>
            <span class="ht-tag">
                <a href="#">女装</a>
                <a href="#">男装</a>
                <a href="#">女鞋</a>
                <a href="#">男鞋</a>
                <a href="#">钱包</a>
            </span>
            <a href="#" class="ht-more">更多+</a>
        </div>
        <div class="recommend-list mt5 product-list">
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="home-title mt30 rel">
            <a href="#" class="ht-name">医药保健</a>
            <span class="ht-tag">
                <a href="#">女装</a>
                <a href="#">男装</a>
                <a href="#">女鞋</a>
                <a href="#">男鞋</a>
                <a href="#">钱包</a>
            </span>
            <a href="#" class="ht-more">更多+</a>
        </div>
        <div class="recommend-list mt5 product-list">
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="home-title mt30 rel">
            <a href="#" class="ht-name">珠宝饰品</a>
            <span class="ht-tag">
                <a href="#">女装</a>
                <a href="#">男装</a>
                <a href="#">女鞋</a>
                <a href="#">男鞋</a>
                <a href="#">钱包</a>
            </span>
            <a href="#" class="ht-more">更多+</a>
        </div>
        <div class="recommend-list mt5 product-list">
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="home-title rel">
            <a href="#" class="ht-name">户外活动</a>
            <span class="ht-tag">
                <a href="#">女装</a>
                <a href="#">男装</a>
                <a href="#">女鞋</a>
                <a href="#">男鞋</a>
                <a href="#">钱包</a>
            </span>
            <a href="#" class="ht-more">更多+</a>
        </div>
        <div class="recommend-list mt5 product-list">
            <ul>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone1.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone2.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone3.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone4.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/phone5.jpg" class="rl-img">
                        <p class="mt30">荣耀8</p>
                        <p class="rl-desc">购机送TUP保护壳</p>
                        <p class="red">￥2999元</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cl"></div>
        <div class="poster mt30">
            <a href="#"><img src="../images/p2.jpg" width="100%"></a>
        </div>
      </div>
    </div>
    <div class="footer pt20">
        <div class="footer-trait pb20">
            <div class="wrapper">
                <ul>
                    <li>
                        <i class="iconfont"></i>500强企业 品质保证
                    </li>
                    <li>
                        <i class="iconfont"></i>7天退货 15天换货
                    </li>
                    <li>
                        <i class="iconfont"></i>99元起免运费
                    </li>
                    <li>
                        <i class="iconfont"></i>448家维修网点 全国联保
                    </li>
                </ul>
                <div class="cl"></div>
            </div>
        </div>
        <div class="wrapper tc">
            <p class="friend-link tl">友情链接：<a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a><a href="#">动脑学院</a><a href="#">腾讯课堂</a></p>
            <p class="mt10">隐私政策 服务协议 Copyright © 2012-2016 VMALL.COM 版权所有 保留一切权利</p>
            <p>公安备案 湘公网安备 00000000000000号 | 湘ICP备00000000号-0 | 增值电信业务经营许可证：湘A0-20161110 | 网络文化经营许可证：湘网文[2016] 0000-000号</p>
            <p class="mt10 pb20">
                <a href="#"><img src="../images/f1.png"></a>
                <a href="#"><img src="../images/f2.png"></a>
                <a href="#"><img src="../images/f3.png"></a>
            </p>
        </div>
    </div>
    <!--
    css命名用-比较可取，当然驼峰命名不是不可取
    1、自己使用方便理解
    2、方便自己开发

    命名尤其不要用下划线，不要用数字
    -->
    <div class="quick-nav" id="quickNav">
        <a href="javascript:void(0);" class="qn-item active" data-index="0">热销推荐</a>
        <a href="javascript:void(0);" class="qn-item" data-index="1">母婴玩具</a>
        <a href="javascript:void(0);" class="qn-item" data-index="2">生鲜水果</a>
        <a href="javascript:void(0);" class="qn-item" data-index="3">家具建材</a>
        <a href="javascript:void(0);" class="qn-item" data-index="4">医药保健</a>
        <a href="javascript:void(0);" class="qn-item" data-index="5">珠宝饰品</a>
        <a href="javascript:void(0);" class="qn-item" data-index="6">户外活动</a>
        <a href="javascript:void(0);" id="goTop">返回顶部</a>
        <div class="nav-status"></div>
    </div>
    <!--
1、单独设置背景
2、点击走动：获取相应标题滚动到页面顶部的高度（class或标签，建议是class），跳转到获取的位置即可
    一：定义一个自定义属性，标记为当前的下标
	二：点击获取属性
	三：获取标题[获取属性下标]，然后获取到页面高度
	四：跳转到相应位置


3、滚动页面：获取当前高度、匹配当前高度和标题高度，如果当前高度是在标题高度以内，那么就判定是当前标题的状态


4、滚动到页面顶部隐藏快捷操作

-->
<script type="text/javascript" src="../js/slide.js"></script>
<script type="text/javascript">
    window.onload=function () {
       //轮播图调用
        autoSlide.init({
            "slideLi":document.getElementById("slidePic").children
        }); //只是调用Init方法


        //快捷菜单操作
        var qnItem = document.getElementById("quickNav").getElementsByClassName("qn-item");//快捷导航的子项
        var titleObj = document.getElementsByClassName("home-title");
        var navStatus = document.getElementById("quickNav").getElementsByClassName("nav-status")[0];
        for(var i=0;i<qnItem.length;i++){
            qnItem[i].onclick = function () {
                var goScroll=titleObj[this.getAttribute("data-index")] .offsetTop;
                window.scrollTo(0,goScroll)
            }
        }

        function chooseNav() {
            var currScrollTop=document.body.scrollTop || document.documentElement.scrollTop; //获取当前滚动高度
            if(titleObj[0].offsetTop>currScrollTop){
                document.getElementById("quickNav").className="quick-nav"
            }else{
                document.getElementById("quickNav").className += " show-quick-nav";
            }
            for(var i=0;i<titleObj.length;i++){
                if(currScrollTop<=titleObj[i].offsetTop){//对比高度
                   var currChoose=document.getElementById("quickNav").getElementsByClassName("active");
                    if(currChoose.length > 0){
                        currChoose[0].className = "qn-item";//可以改为获取class，然后替换掉active，去掉空格用trim()
                    }
                    qnItem[i].className = "qn-item active";
                    navStatus.style.top = 50*i+"px";
                    break;
                }
            }
        }

        /*
         onscroll调用次数比较频繁，所以要注意性能
         */
        window.onscroll = function(){
            chooseNav();
        }
        chooseNav();
        document.getElementById("goTop").onclick=function () {
            /*如果想通过原生JS来实现过度跳转到相应位置，那么可以使用定时器
             获取当前滚动高度，然后对高度逐一递减
             如果要判断是上去还是下去，直接对当前到顶部的高度和点击的高度对比即可
             */
            window.scrollTo(0,0);
        }
    }
</script>
</body>
</html>
