<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    <title>商城首页</title>
</head>
<body>
    <div class="top">
        <div class="wrapper">
            <div class="fl">
               您好，<span id="loginUser"></span>欢迎来到动脑学院！<span id="notLogin"><a href="登录.html" class="ml10">[登录]</a><a href="注册.html" class="ml10">[注册]</a></span><a href="javascript:void(0);" id="loyout" class="hide">[退出]</a>
            </div>
            <ul class="fr topLinks">
                <li class="selected">
                    <a href="#">我的商城<i class="icons arrowsIcons"></i></a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
                <li class="selected">
                    <a href="#">客户服务</a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
                <li class="selected">
                    <a href="#">网站导航</a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
                <li class="selected">
                    <a href="#">手机商城</a>
                    <div class="topItem">
                        <a href="#">帮助中心</a>
                        <a href="#">售后服务</a>
                        <a href="#">在线客服</a>
                        <a href="#">投诉中心</a>
                        <a href="#">客服邮箱</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="top-wrap">
        <div class="wrapper rel">
            <a href="index2.html" class="logo">
                <img src="../images/logo.png">
            </a>
            <div class="searchForm">
                <form>
                    <input type="text" class="fl txt" placeholder="请输入搜索产品名.....">
                    <input type="submit" value="搜索" class="fr submitBtn">
                </form>
                <p class="hotSearch">
                    <a href="#">小米5</a>
                    <a href="#">IPhone 6s</a>
                    <a href="#">OPPO R9</a>
                    <a href="#">VIVO X6</a>
                    <a href="#">三星 s6</a>
                    <a href="#">三星 s6</a>
                    <a href="#">三星 s6</a>
                </p>
            </div>
        </div>
        <div class="nav">
            <div class="wrapper rel">
                <!--下拉菜单 start-->
                <div class="navType tc">
                    <i class="iconfont">&#xe62c;</i>
                    商品服务分类
                     <div class="navTab">
                         <ul>
                             <li>
                                 <a href="list.html" class="typeName"><i class="iconfont mr10"></i>服饰箱包<em class="right-arrow">&gt;</em></a>
                                 <div class="subNavList">
                                     <dl>
                                         <dt>Iphone</dt>
                                         <dd>
                                             <span><a href="list.html">IPhone 6s</a></span><span>|&ensp;<a href="list.html">IPhone 6</a></span><span>|&ensp;<a href="list.html">IPhone 5s</a></span><span>|&ensp;<a href="list.html">IPhone 5</a></span>
                                         </dd>
                                     </dl>
                                     <dl>
                                         <dt>Ipad</dt>
                                         <dd>
                                             <span><a href="list.html">Ipad6</a></span><span>|&ensp;<a href="list.html">Ipad5</a></span><span>|&ensp;<a href="list.html">Ipad mini4</a></span><span>|&ensp;<a href="list.html">Ipad mini3</a></span><span>|&ensp;<a href="list.html">Ipad mini2</a></span><span>|&ensp;<a href="list.html">Ipad pro</a></span>
                                         </dd>
                                     </dl>
                                 </div>
                             </li>
                             <li>
                                 <a href="list.html" class="typeName"><i class="iconfont mr10"></i>母婴玩具<em class="right-arrow">&gt;</em></a>
                             </li>
                             <li>
                                 <a href="list.html" class="typeName"><i class="iconfont mr10"></i>生鲜水果<em class="right-arrow">&gt;</em></a>
                             </li>
                             <li>
                                 <a href="list.html" class="typeName"><i class="iconfont mr10"></i>家具建材<em class="right-arrow">&gt;</em></a>
                             </li>
                         </ul>
                     </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>